/* @media */
@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3a1caaf9-4c6f-0d3a-54af-bc6e404d0148"] {
    -webkit-transform: translate3d(64px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-10deg) skew(0, 0);
    -moz-transform: translate3d(64px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-10deg) skew(0, 0);
    -ms-transform: translate3d(64px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-10deg) skew(0, 0);
    transform: translate3d(64px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-10deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="15b27589-6d5f-04a1-fb57-ae688add81a4"] {
    -webkit-transform: translate3d(-64px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(10deg) skew(0, 0);
    -moz-transform: translate3d(-64px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(10deg) skew(0, 0);
    -ms-transform: translate3d(-64px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(10deg) skew(0, 0);
    transform: translate3d(-64px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(10deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="602403bd-a64e-b48e-5cd1-358af3a7dfe4"] {
    -webkit-transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    display: flex;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0779f444-7e7b-11a5-1d1b-8ee61dadcc31"] {
    -webkit-transform: translate3d(0%, 50%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 50%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 50%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="47dec398-5d18-fa82-cdc4-4b3d20eb49c1"] {
    -webkit-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a98e4cc2-e89c-f522-5177-97ed200e24f9"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9d337b6d-6bc9-25df-7d0d-030a74331b1d"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="115c33bb-775c-0575-e93e-339bf3a7b4fa"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="115c33bb-775c-0575-e93e-339bf3a7b4fe"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="622df2cd-57bd-97e5-7f42-503b1495c164"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="115c33bb-775c-0575-e93e-339bf3a7b4f2"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d0d74298-6639-b26d-765b-98ace4874d80"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a0f590df-cb39-f255-a7eb-19a5edf63ee2"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="20ae393d-0496-b5fb-4995-cbce2ee7be48"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="8a3cefdd-4430-d6db-06cb-76f2139e93f0"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0116749e-34df-d117-b5b3-4e27ea8a0c9d"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="fd13ae76-1269-d0e7-b216-a99faeb53f9a"] {
    display: none;
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="38855eac-702a-0644-90a3-aded380e770b"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3209db60-335b-56e1-baf7-3118164018be"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="20ae393d-0496-b5fb-4995-cbce2ee7be50"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="36ea3644-2149-3df7-3532-2d234420316c"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="487feb5c-c92f-704a-cc73-b01d82782b4a"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2a9bd109-ee0a-cc99-7fde-e6cf79cb879a"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="866f90c3-0378-dab4-7faa-1e8f89320ae3"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0149d9ef-7277-59d0-1c13-9ce3d3544105"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d82b76b6-3ed5-31fb-395c-f9f461382bce"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="b5898a65-5afb-bec1-8692-79eec4caf4eb"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="325ae342-3c3a-aa26-4215-d8638206462b"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4b47877-9e14-b1ac-a651-f478b795482a"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="6d9c8bfc-d16d-caac-ca55-1e1cdf003872"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="41deae09-aedd-a37b-50f1-356d8ba398b5"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f1827cca-b04f-b523-9ea2-fe3b50fd3848"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4b47877-9e14-b1ac-a651-f478b7954836"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4b47877-9e14-b1ac-a651-f478b7954832"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2bcc23c1-40a7-1a83-fd01-c54beedc24c2"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d784e772-5e12-ddb0-3fe1-c4929ff05919"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="546a3a0f-bb89-8b33-f617-12d80130f31b"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2f8d6a80-0f58-5953-64bb-d6df4c3afb93"] {
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="41c1367b-668d-a6da-3f50-c8aa90867db3"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e633af5b-319f-738e-393f-781b2b7d37e1"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="64ab9914-2b2a-782c-0118-94118b97bb9b"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="b70d919c-1a7c-d6e5-9b15-202cfb57b1ad"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ce726d65-c61e-523f-1bde-c2757914c5ba"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="211f02e1-ec3c-b444-99ec-3fca09a6cd85"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="eaf28724-a932-c69b-f07e-a614f0676ff6"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d5988c42-5b45-fff4-f502-1825015b7a26"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="54ec65b3-eecf-efde-0caf-ef135e322109"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="eaf28724-a932-c69b-f07e-a614f0676ff4"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d5988c42-5b45-fff4-f502-1825015b7a24"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="54ec65b3-eecf-efde-0caf-ef135e322107"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f22e232c-f4eb-5046-0438-1c8d512c823e"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d5988c42-5b45-fff4-f502-1825015b7a28"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="54ec65b3-eecf-efde-0caf-ef135e32210b"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d1ec1c93-807e-67e3-f470-1ddf2f7a00e9"] {
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="774e7205-2010-da43-d9fe-ca3c13482cb4"] {
    display: none;
    -webkit-transform: translate3d(-88%, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(-88%, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(-88%, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(-88%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0355b51b-c4fc-1a54-2141-35d487344c62"] {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0cc0314e-009f-a183-29db-4f8180d8660d"] {
    -webkit-transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0f4b2948-43e5-c357-5e11-abd7da7f00b3"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fae"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fbd"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fcc"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fb0"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fbf"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fce"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fab"] {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fba"] {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fc9"] {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fa6"] {
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="15567acf-48c3-71c3-e0a4-6ebf361ebeb3"] {
    -webkit-transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d6ba475a-8c7f-4317-8a8c-e172a823cfa1"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="602403bd-a64e-b48e-5cd1-358af3a7dff2"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="c9288e11-541f-f199-5d90-7f2100d7fc63"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4a1ad4d-a342-032a-3db8-430b4cfe7c03"] {
    display: block;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="732261d7-f149-c39e-6005-9b53e2cc4607"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="44f99e50-4629-0774-f546-1b17abed3f95"] {
    display: block;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ade800bf-c967-45f0-4791-ac9ff63febe8"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2ee09070-215e-d611-47ae-0432595799bc"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="75f746a6-711a-bad0-8814-043557a20232"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3c5edc6e-8a6c-418e-fd64-bfbdbdeb508c"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e9e48253-8512-e4da-2b23-6382a2bff70b"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="06fa4318-d1bc-a462-6429-990d086c1f8b"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="c52fef81-35c8-9c2d-67f2-d8e9e2394a2c"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a83be1b2-dafd-6776-2832-84e65ce031b3"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="dd313b05-32db-4389-dbe5-c7c418379e52"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="719ed61e-700d-7f8c-6b0c-092521999f7c"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="aeb6df48-95a2-0ab0-bf2a-c5931e77e5e0"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="abafe09a-3ad6-8675-15d4-82f6aabdfe45"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="1b8644df-e00f-86db-1b9e-ff82db988012"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="49c935a1-8b07-be0a-2049-cd46249fd032"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="7a9f5101-e649-0483-1a44-1649a005fdda"] {
    opacity: 0;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3a1caaf9-4c6f-0d3a-54af-bc6e404d0148"] {
    -webkit-transform: translate3d(64px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-10deg) skew(0, 0);
    -moz-transform: translate3d(64px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-10deg) skew(0, 0);
    -ms-transform: translate3d(64px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(-10deg) skew(0, 0);
    transform: translate3d(64px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(-10deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="15b27589-6d5f-04a1-fb57-ae688add81a4"] {
    -webkit-transform: translate3d(-64px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(10deg) skew(0, 0);
    -moz-transform: translate3d(-64px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(10deg) skew(0, 0);
    -ms-transform: translate3d(-64px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(10deg) skew(0, 0);
    transform: translate3d(-64px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(10deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="602403bd-a64e-b48e-5cd1-358af3a7dfe4"] {
    -webkit-transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    display: flex;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0779f444-7e7b-11a5-1d1b-8ee61dadcc31"] {
    -webkit-transform: translate3d(0%, 50%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 50%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 50%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="47dec398-5d18-fa82-cdc4-4b3d20eb49c1"] {
    -webkit-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a98e4cc2-e89c-f522-5177-97ed200e24f9"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9d337b6d-6bc9-25df-7d0d-030a74331b1d"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="115c33bb-775c-0575-e93e-339bf3a7b4fa"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="115c33bb-775c-0575-e93e-339bf3a7b4fe"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="622df2cd-57bd-97e5-7f42-503b1495c164"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="115c33bb-775c-0575-e93e-339bf3a7b4f2"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d0d74298-6639-b26d-765b-98ace4874d80"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a0f590df-cb39-f255-a7eb-19a5edf63ee2"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="20ae393d-0496-b5fb-4995-cbce2ee7be48"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="8a3cefdd-4430-d6db-06cb-76f2139e93f0"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0116749e-34df-d117-b5b3-4e27ea8a0c9d"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="fd13ae76-1269-d0e7-b216-a99faeb53f9a"] {
    display: none;
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="38855eac-702a-0644-90a3-aded380e770b"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3209db60-335b-56e1-baf7-3118164018be"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="20ae393d-0496-b5fb-4995-cbce2ee7be50"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="36ea3644-2149-3df7-3532-2d234420316c"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="487feb5c-c92f-704a-cc73-b01d82782b4a"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2a9bd109-ee0a-cc99-7fde-e6cf79cb879a"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="866f90c3-0378-dab4-7faa-1e8f89320ae3"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0149d9ef-7277-59d0-1c13-9ce3d3544105"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d82b76b6-3ed5-31fb-395c-f9f461382bce"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="b5898a65-5afb-bec1-8692-79eec4caf4eb"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="325ae342-3c3a-aa26-4215-d8638206462b"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4b47877-9e14-b1ac-a651-f478b795482a"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="6d9c8bfc-d16d-caac-ca55-1e1cdf003872"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="41deae09-aedd-a37b-50f1-356d8ba398b5"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f1827cca-b04f-b523-9ea2-fe3b50fd3848"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4b47877-9e14-b1ac-a651-f478b7954836"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4b47877-9e14-b1ac-a651-f478b7954832"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2bcc23c1-40a7-1a83-fd01-c54beedc24c2"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d784e772-5e12-ddb0-3fe1-c4929ff05919"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="546a3a0f-bb89-8b33-f617-12d80130f31b"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2f8d6a80-0f58-5953-64bb-d6df4c3afb93"] {
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="41c1367b-668d-a6da-3f50-c8aa90867db3"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e633af5b-319f-738e-393f-781b2b7d37e1"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="64ab9914-2b2a-782c-0118-94118b97bb9b"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="b70d919c-1a7c-d6e5-9b15-202cfb57b1ad"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ce726d65-c61e-523f-1bde-c2757914c5ba"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="211f02e1-ec3c-b444-99ec-3fca09a6cd85"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="eaf28724-a932-c69b-f07e-a614f0676ff6"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d5988c42-5b45-fff4-f502-1825015b7a26"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="54ec65b3-eecf-efde-0caf-ef135e322109"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="eaf28724-a932-c69b-f07e-a614f0676ff4"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d5988c42-5b45-fff4-f502-1825015b7a24"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="54ec65b3-eecf-efde-0caf-ef135e322107"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f22e232c-f4eb-5046-0438-1c8d512c823e"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d5988c42-5b45-fff4-f502-1825015b7a28"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="54ec65b3-eecf-efde-0caf-ef135e32210b"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d1ec1c93-807e-67e3-f470-1ddf2f7a00e9"] {
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="774e7205-2010-da43-d9fe-ca3c13482cb4"] {
    display: none;
    -webkit-transform: translate3d(-88%, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(-88%, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(-88%, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(-88%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0355b51b-c4fc-1a54-2141-35d487344c62"] {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0cc0314e-009f-a183-29db-4f8180d8660d"] {
    -webkit-transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(10px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0f4b2948-43e5-c357-5e11-abd7da7f00b3"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fae"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fbd"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fcc"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fb0"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fbf"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fce"] {
    opacity: 1;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fab"] {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fba"] {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fc9"] {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0164bd88-0b49-165d-0eee-40a585703fa6"] {
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="15567acf-48c3-71c3-e0a4-6ebf361ebeb3"] {
    -webkit-transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 200%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d6ba475a-8c7f-4317-8a8c-e172a823cfa1"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="602403bd-a64e-b48e-5cd1-358af3a7dff2"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="c9288e11-541f-f199-5d90-7f2100d7fc63"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4a1ad4d-a342-032a-3db8-430b4cfe7c03"] {
    display: block;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="732261d7-f149-c39e-6005-9b53e2cc4607"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="44f99e50-4629-0774-f546-1b17abed3f95"] {
    display: block;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ade800bf-c967-45f0-4791-ac9ff63febe8"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0779f444-7e7b-11a5-1d1b-8ee61dadcc31"] {
    display: none;
    -webkit-transform: translate3d(0%, 50%, 0) scale3d(0.5, 0.5, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 50%, 0) scale3d(0.5, 0.5, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 50%, 0) scale3d(0.5, 0.5, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 50%, 0) scale3d(0.5, 0.5, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="15567acf-48c3-71c3-e0a4-6ebf361ebeb3"] {
    -webkit-transform: translate3d(0, 200%, 0) scale3d(1.1, 1.1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 200%, 0) scale3d(1.1, 1.1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 200%, 0) scale3d(1.1, 1.1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 200%, 0) scale3d(1.1, 1.1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="602403bd-a64e-b48e-5cd1-358af3a7dfe4"] {
    -webkit-transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d6ba475a-8c7f-4317-8a8c-e172a823cfa1"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="47dec398-5d18-fa82-cdc4-4b3d20eb49c1"] {
    -webkit-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a98e4cc2-e89c-f522-5177-97ed200e24f9"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9d337b6d-6bc9-25df-7d0d-030a74331b1d"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="115c33bb-775c-0575-e93e-339bf3a7b4fa"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="115c33bb-775c-0575-e93e-339bf3a7b4fe"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="622df2cd-57bd-97e5-7f42-503b1495c164"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="115c33bb-775c-0575-e93e-339bf3a7b4f2"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d0d74298-6639-b26d-765b-98ace4874d80"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a0f590df-cb39-f255-a7eb-19a5edf63ee2"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d82b76b6-3ed5-31fb-395c-f9f461382bc6"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="20ae393d-0496-b5fb-4995-cbce2ee7be48"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="8a3cefdd-4430-d6db-06cb-76f2139e93f0"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0116749e-34df-d117-b5b3-4e27ea8a0c9d"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="fd13ae76-1269-d0e7-b216-a99faeb53f9a"] {
    display: none;
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="38855eac-702a-0644-90a3-aded380e770b"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3209db60-335b-56e1-baf7-3118164018be"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="20ae393d-0496-b5fb-4995-cbce2ee7be50"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="36ea3644-2149-3df7-3532-2d234420316c"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="487feb5c-c92f-704a-cc73-b01d82782b4a"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2a9bd109-ee0a-cc99-7fde-e6cf79cb879a"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="866f90c3-0378-dab4-7faa-1e8f89320ae3"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0149d9ef-7277-59d0-1c13-9ce3d3544105"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d82b76b6-3ed5-31fb-395c-f9f461382bce"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="b5898a65-5afb-bec1-8692-79eec4caf4eb"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="325ae342-3c3a-aa26-4215-d8638206462b"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4b47877-9e14-b1ac-a651-f478b795482a"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="6d9c8bfc-d16d-caac-ca55-1e1cdf003872"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="41deae09-aedd-a37b-50f1-356d8ba398b5"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f1827cca-b04f-b523-9ea2-fe3b50fd3848"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4b47877-9e14-b1ac-a651-f478b7954836"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4b47877-9e14-b1ac-a651-f478b7954832"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2bcc23c1-40a7-1a83-fd01-c54beedc24c2"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d784e772-5e12-ddb0-3fe1-c4929ff05919"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="64ab9914-2b2a-782c-0118-94118b97bb93"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="546a3a0f-bb89-8b33-f617-12d80130f31b"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2f8d6a80-0f58-5953-64bb-d6df4c3afb93"] {
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="41c1367b-668d-a6da-3f50-c8aa90867db3"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e633af5b-319f-738e-393f-781b2b7d37e1"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="64ab9914-2b2a-782c-0118-94118b97bb9b"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="b70d919c-1a7c-d6e5-9b15-202cfb57b1ad"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ce726d65-c61e-523f-1bde-c2757914c5ba"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="211f02e1-ec3c-b444-99ec-3fca09a6cd85"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4a1ad4d-a342-032a-3db8-430b4cfe7c03"] {
    display: block;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="732261d7-f149-c39e-6005-9b53e2cc4607"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="44f99e50-4629-0774-f546-1b17abed3f95"] {
    display: block;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ade800bf-c967-45f0-4791-ac9ff63febe8"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
}
@media (max-width: 479px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0779f444-7e7b-11a5-1d1b-8ee61dadcc31"] {
    display: none;
    -webkit-transform: translate3d(0%, 50%, 0) scale3d(0.5, 0.5, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 50%, 0) scale3d(0.5, 0.5, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 50%, 0) scale3d(0.5, 0.5, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 50%, 0) scale3d(0.5, 0.5, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="15567acf-48c3-71c3-e0a4-6ebf361ebeb3"] {
    -webkit-transform: translate3d(0, 200%, 0) scale3d(1.1, 1.1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 200%, 0) scale3d(1.1, 1.1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 200%, 0) scale3d(1.1, 1.1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 200%, 0) scale3d(1.1, 1.1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="602403bd-a64e-b48e-5cd1-358af3a7dfe4"] {
    -webkit-transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0px, 48px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d6ba475a-8c7f-4317-8a8c-e172a823cfa1"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="47dec398-5d18-fa82-cdc4-4b3d20eb49c1"] {
    -webkit-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a98e4cc2-e89c-f522-5177-97ed200e24f9"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="9d337b6d-6bc9-25df-7d0d-030a74331b1d"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="115c33bb-775c-0575-e93e-339bf3a7b4fa"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="115c33bb-775c-0575-e93e-339bf3a7b4fe"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="622df2cd-57bd-97e5-7f42-503b1495c164"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="115c33bb-775c-0575-e93e-339bf3a7b4f2"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d0d74298-6639-b26d-765b-98ace4874d80"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="a0f590df-cb39-f255-a7eb-19a5edf63ee2"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d82b76b6-3ed5-31fb-395c-f9f461382bc6"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="20ae393d-0496-b5fb-4995-cbce2ee7be48"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="8a3cefdd-4430-d6db-06cb-76f2139e93f0"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0116749e-34df-d117-b5b3-4e27ea8a0c9d"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="fd13ae76-1269-d0e7-b216-a99faeb53f9a"] {
    display: none;
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="38855eac-702a-0644-90a3-aded380e770b"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="3209db60-335b-56e1-baf7-3118164018be"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="20ae393d-0496-b5fb-4995-cbce2ee7be50"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="36ea3644-2149-3df7-3532-2d234420316c"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="487feb5c-c92f-704a-cc73-b01d82782b4a"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2a9bd109-ee0a-cc99-7fde-e6cf79cb879a"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="866f90c3-0378-dab4-7faa-1e8f89320ae3"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="0149d9ef-7277-59d0-1c13-9ce3d3544105"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d82b76b6-3ed5-31fb-395c-f9f461382bce"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="b5898a65-5afb-bec1-8692-79eec4caf4eb"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="325ae342-3c3a-aa26-4215-d8638206462b"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4b47877-9e14-b1ac-a651-f478b795482a"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="6d9c8bfc-d16d-caac-ca55-1e1cdf003872"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="41deae09-aedd-a37b-50f1-356d8ba398b5"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="f1827cca-b04f-b523-9ea2-fe3b50fd3848"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4b47877-9e14-b1ac-a651-f478b7954836"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4b47877-9e14-b1ac-a651-f478b7954832"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2bcc23c1-40a7-1a83-fd01-c54beedc24c2"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="d784e772-5e12-ddb0-3fe1-c4929ff05919"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="64ab9914-2b2a-782c-0118-94118b97bb93"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="546a3a0f-bb89-8b33-f617-12d80130f31b"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="2f8d6a80-0f58-5953-64bb-d6df4c3afb93"] {
    display: none;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="41c1367b-668d-a6da-3f50-c8aa90867db3"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e633af5b-319f-738e-393f-781b2b7d37e1"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="64ab9914-2b2a-782c-0118-94118b97bb9b"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="b70d919c-1a7c-d6e5-9b15-202cfb57b1ad"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ce726d65-c61e-523f-1bde-c2757914c5ba"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="211f02e1-ec3c-b444-99ec-3fca09a6cd85"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="e4a1ad4d-a342-032a-3db8-430b4cfe7c03"] {
    display: block;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="732261d7-f149-c39e-6005-9b53e2cc4607"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="44f99e50-4629-0774-f546-1b17abed3f95"] {
    display: block;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="ade800bf-c967-45f0-4791-ac9ff63febe8"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0.6, 0.6, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
}
